<div class="nav">
    <ul>
        <li><a routerLink="formEmployees" class="nav-link">Add Employees</a></li>
        <li><a routerLink="formDeparments" class="nav-link"><em>Add Deparment</em></a></li>
        <li><a routerLink="listEmployees" class="nav-link">Consult Employees</a></li>
        <li><a routerLink="listDeparments" class="nav-link">Consult Deparments</a></li>
        <li><a href="https://codepen.io/dmullerd" target="newblank" class="nav-link">Navigation Made By Daniel Muller </a></li>
    </ul>
</div>